<nav>
	<a href="./">Individual</a>
	<a class="active" href="./group">Group Cases</a>
	<a href="./standings">Standings</a>
</nav>

{{#if groupCase}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	window.onload=function(){
		document.getElementById("submit_button").onclick = function(){
			number = document.getElementById("groupCase_number").value;
			if (number){
				url = "group/"+number+".JPG";
				document.cookie = "url="+url;
			}
		};
		var img_url = document.cookie.split("=")[1];
		if(img_url){
			var http = new XMLHttpRequest();

    	http.open('GET', img_url);
    	http.send();

	    if(http.status != 404){
				document.getElementById("voting_buttons").style.display = "block";
				$("#groupCase_image").attr("src", img_url);
			}
		}
		img_url ="";
		document.cookie = "url=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
	};
</script>

<form onsubmit="myFunction(document.getElementById('groupCase_number').value)">
  Group Case Number:<br>
  <input type="text" id="groupCase_number">
	<input type="submit" id = "submit_button" value = "Go">
  <br>
</form>

	<img id="groupCase_image" src="default.jpg" width="530" height="50" />

	<div style="display: none" id="voting_buttons" class="button-holder">
		<form action="./a" method="post">
			<input type="hidden" name="groupCase" value="{{groupCase.name}}" />
			<input type="submit" value="Agree" />
		</form>
		<form action="./b" method="post">
			<input type="hidden" name="groupCase" value="{{groupCase.name}}" />
			<input type="submit" value="Disagree" />
		</form>
	</div>
{{/if}}
