<nav>
	<a class="active" href="./">Cases</a>
	<a href="./standings">Standings</a>
</nav>

{{#if dilemma}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	window.onload=function(){
		document.getElementById("submit_button").onclick = function(){
			var number = document.getElementById("dilemma_number").value;
			var isGroupCase = document.getElementById("groupCaseCheck").checked;
			if (number){
				if(isGroupCase){
					url = "dilemmas/G"+number+".JPG";
				}
				else{
					url = "dilemmas/"+number+".JPG";
				}
				document.cookie = "url="+url;
			}
		};
		var img_url = document.cookie.split("=")[1];
		if(img_url){
			var picCheck = new XMLHttpRequest();

    	picCheck.open('GET', img_url);
    	picCheck.send();

	    if(picCheck.status != 404){
				document.getElementById("voting_buttons").style.display = "block";
				$("#dilemma_image").attr("src", img_url);
				name = img_url.split("/")[1];
    		$('input[name=dilemma]').attr("value", name);
			}
		}
		img_url ="";
		document.cookie = "url=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
	};


	var spawn = require('child_process').spawn,
    py    = spawn('python', ['compute_input.py']),
    data = [1,2,3,4,5,6,7,8,9],
	dataString = '';
	
	/*Here we are saying that every time our node application receives data from the python process output stream(on 'data'), we want to convert that received data into a string and append it to the overall dataString.*/
	py.stdout.on('data', function(data){
	dataString += data.toString();
	});

	/*Once the stream is done (on 'end') we want to simply log the received data to the console.*/
	py.stdout.on('end', function(){
	console.log('Sum of numbers=',dataString);
	});

	/*We have to stringify the data first otherwise our python process wont recognize it*/
	py.stdin.write(JSON.stringify(data));

	py.stdin.end();


	$.ajax({
                    type: 'get',
                    url: '../../../places.py',
                    data: $(form).serialize(),


                    success: function(data, status) {


                      var response = JSON.parse(data);
                      console.log("THe json is "+response.datacenter); //prints undefined
                      console.log("result is "+data); // prints result is [{"startdate": "07/01/2013", "system": "All", "datacenter": ["las", "sjc"]}]

                      console.log("The status is "+status); // prints The status is success
                      console.log(data.datacenter); // prints undefined
</script>


	<img id="dilemma_image" src="default.jpg" width="530" />

	<div style="display: none" id="voting_buttons" class="button-holder">
		<form action="./a" method="post">
			<input id="inputvote" type="hidden" name="dilemma" value="{{dilemma.name}}" />
			<input type="submit" value="Agree" />
		</form>
		<form action="./b" method="post">
			<input id="inputvote" type="hidden" name="dilemma" value="{{dilemma.name}}"  />
			<input type="submit" value="Disagree" />
		</form>
	</div>

{{/if}}
