<nav>
	<a class="active" href="./">Cases</a>
	<a href="./standings">Standings</a>
</nav>

{{#if dilemma}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	window.onload=function(){
		document.getElementById("submit_button").onclick = function(){
			var number = document.getElementById("dilemma_number").value;
			var isGroupCase = document.getElementById("groupCaseCheck").checked;
			if (number){
				if(isGroupCase){
					url = "dilemmas/G"+number+".JPG";
				}
				else{
					url = "dilemmas/"+number+".JPG";
				}
				document.cookie = "url="+url;
			}
		};
		var img_url = document.cookie.split("=")[1];
		if(img_url){
			var picCheck = new XMLHttpRequest();

    	picCheck.open('GET', img_url);
    	picCheck.send();

	    if(picCheck.status != 404){
				document.getElementById("voting_buttons").style.display = "block";
				$("#dilemma_image").attr("src", img_url);
			}
		}
		img_url ="";
		document.cookie = "url=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
	};
</script>

<form class = "form2" onsubmit="myFunction(document.getElementById('dilemma_number').value)">
	<div class = "checkbox1">
		Group Case: <input type="checkbox" id="groupCaseCheck" value="groupCase">
	</div>

  Case Number: <input type="text" id="dilemma_number" class="form2text"><br>
	<input type="submit" id = "submit_button" value = "Go">
  <br>
</form>

	<img id="dilemma_image" src="default.jpg" width="530" />

	<div style="display: none" id="voting_buttons" class="button-holder">
		<form action="./a" method="post">
			<input type="hidden" name="dilemma" value="{{dilemma.name}}" />
			<input type="submit" value="Agree" />
		</form>
		<form action="./b" method="post">
			<input type="hidden" name="dilemma" value="{{dilemma.name}}" />
			<input type="submit" value="Disagree" />
		</form>
	</div>

{{/if}}
